.popup {
    position: absolute;
    top: 50%;
    right: -30%;
    background-color: #fff;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    max-width: 235px;
    &--hidden {
        display: none;
    }
    &__content {
        position: relative;
        padding: 18px;
    }
    &__input {
        width: 100%;
        padding: 11px 0 8px 8px;
        border: 1px solid #efefef;
        border-radius: 4px;
        color: #000;
        font-family: "Rubik", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14px;
        letter-spacing: 0.15px;
        &::-webkit-input-placeholder {
            color: #c7c7c7;
        }
    }
    &__colors {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        margin-top: 15px;
    }
    &__color-option {
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        cursor: pointer;
        &--active {
            border: 2px solid #525252;
        }
    }
    &__btn {
        margin-top: 15px;
    }
    &__close-btn {
        position: absolute;
        top: -8px;
        right: -8px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
}
