.aside {
    position: relative;
    background-color: #e5e5e5;
    height: 100%;
    padding: 40px 20px 0 20px;
    &__btn,
    &__top-btn {
        display: flex;
        align-items: center;
        gap: 10px;
        border: none;
        background-color: transparent;
        color: #767676;
        letter-spacing: 0.15px;
        font-family: "Rubik", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        cursor: pointer;
    }
    &__top-btn {
        font-size: 18px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 45px;
        margin-bottom: 30px;
    }
}
