.app {
  display: flex;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  height: 100vh;
  &__left {
    flex-basis: 200px;
  }
  &__right {
    max-width: 420px;
  }
  &__heading {
    margin-bottom: 30px;
  }
  &__form {
    margin-top: 20px;
  }
  &__tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  &__add-task {
    &--hidden {
      display: none;
    }
    display: flex;
    gap: 10px;
    font-weight: 500;
    letter-spacing: 0.15px;
    color: #b4b4b4;
    cursor: pointer;
    img {
      padding-left: 1px;
    }
  }
}
